{% extends "index.html" %}

{% block title%}{% endblock %}

{% block content %}

  <div id="body_container">
    <div class="profile_container">
      <div class="profile_box">
        <div class="profile_top_curve">
          <div class="profile_detail_content">
            <div class="welcomezone">
              <div style="margin-bottom:10px;">
                <div class="blueboldheading">
                  <h1>Contact <span>Us</span></h1>
                </div>
                <div>
                  <p> <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. </strong></p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum.</p>
                </div>
                <div> <br />
                  <h2>Contact Form:</h2>
                  <form action="#" method="post">
                    <table width="99%">
                      <tr>
                        <td width="146" class="body" id="Company"><strong>
                          <label for="Company">Company:</label>
                          </strong></td>
                        <td width="398"><input name="Company" type="text" size="50" /></td>
                      </tr>
                      <tr>
                        <td class="body" id="Contact"><strong>
                          <label for="FullName">Full Name:</label>
                          </strong></td>
                        <td><input name="Name" type="text" size="50" /></td>
                      </tr>
                      <tr>
                        <td class="body" id="Address"><strong>
                          <label for="Address">Address:</label>
                          </strong></td>
                        <td><input name="Address" type="text" size="50" /></td>
                      </tr>
                      <tr>
                        <td class="body" id="Phone"><strong>
                          <label for="Phone">Phone:</label>
                          </strong></td>
                        <td><input name="Phone" type="text" size="50" /></td>
                      </tr>
                      <tr>
                        <td class="body" id="Email"><strong>
                          <label for="Email">Email:</label>
                          </strong></td>
                        <td><input name="Email" type="text" size="50" /></td>
                      </tr>
                      <tr>
                        <td class="body" id="Comments"><strong>
                          <label for="Comments">Questions/Comments:</label>
                          </strong></td>
                        <td><textarea name="comments" cols="39" rows="6"></textarea></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><input type="submit" name="submit" class="button" value="Send Now" /></td>
                      </tr>
                    </table>
                  </form>
                </div>
                <div> <br />
                  <h2>Contact Information: </h2>
                  <img src="images/photo-contact.jpg" alt="" width="226" height="150" hspace="15" vspace="15" class="project-img" />
                  <p>100 Lorem Ipsum Dolor Sit<br />
                    88-99 Sit Amet, Lorem<br />
                    USA</p>
                  <p> <span><img src="images/ico-phone.png" alt="" width="20" height="16" hspace="2" align="middle" /> Phone:</span> (888) 123 456 789<br />
                    <span><img src="images/ico-fax.png" alt="" width="20" height="16" hspace="2" align="middle" /> Fax:</span> (888) 987 654 321<br />
                    <span><img src="images/ico-website.png" alt="" width="20" height="16" hspace="2" align="middle" /> Website:</span> <a href="#">www.mycompany.com</a><br />
                    <span><img src="images/ico-email.png" alt="" width="20" height="16" hspace="2" align="middle" /> Email:</span> <a href="#">info@mycompany.com</a><br />
                    <span><img src="images/ico-twitter.png" alt="" width="20" height="16" hspace="3" align="middle" /> <a href="#">Follow</a> on Twitter</span><br />
                  </p>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="footer_link">
      <ul style="color:#FFF;">
        Copyright (c) Sitename.com. All rights reserved. Design by Stylish <a href="http://www.stylishtemplate.com" style="color:#FFF; text-decoration:underline;">Website Templates</a>.
      </ul>
    </div>
  </div>
</div>
{% endblock %}

