{% extends "base.html" %}

{% block title%}{% endblock %}

{% block content %}

<label>filter</label>


<form action="" method="post">
    <div>
        <label for="">bad habit</label>
        <select name="" id="">
            <option value="">drink</option>
            <option value="">smoke</option>
            <option value="">drag</option>
        </select>
    </div>
    <div>
        <label for="">bababa</label>
        <select name="" id="">
            <option value="">1</option>
            <option value="">26-dfsdf35</option>
            <option value="">3dfdf6-50</option>
        </select>
    </div>
    <div>
        <label for="">Olaala</label>
        <select name="" id="">
            <option value="">1hwaha</option>
            <option value="">nihao-35</option>
            <option value="">NOnononono0</option>
        </select>
    </div>
    <div>
        <label for="">Age</label>
        <select name="" id="">
            <option value="">18-25</option>
            <option value="">26-35</option>
            <option value="">36-50</option>
        </select>
    </div>


{% endblock %}