<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game</title>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <h1>Would you rather...</h1>

            <form action="/process/game/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="option" value="1">
                <button>{{ question.option1 }}</button>
            </form>
                <p>or</p>
            <form action="/process/game/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="option" value="2">
                <button>{{ question.option2 }}</button>
            </form>

            

            <p>{{ logged_user.first_name }} chose {{ question.request.session.answer_id }}</p>


    











    </div>
</body>
</html>