<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="">Profile</a>
            <a href="">Edit Preferences</a>
        </div>


        <div class="user_bar">
        
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
        </div>

        <div class="profile">
            <img src="{% static 'images/jennifer_aniston.jpg' %}" alt="jennifer aniston">
            <p>Name:</p>
            <p>Age:</p>
            <p>Bio:</p>


        </div>
    </div>
</body>
</html>