
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title%}Love Line{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">
/* @import url("css/layout.css"); */
</style>
<link rel="stylesheet" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

<!-- STYLE CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>

  <div class="container">
    <div id="layout">
      <div id="header">
        <div class="logo"><img src='{%static "images/scallop2.png"%}' style="width: 15%;" alt="" /></div>
        <div class="form_container">
          <h4>Intimate Search</h4>
          <div class="search">
            <form action="#" method="get">
              <fieldset>
              <div class="search_row">
                <div class="search_column_1">
                  <label>I am a</label>
                </div>
                <div class="search_column_2">
                  <select class="gender">
                    <option>Male</option>                
                    <option>Female</option>


                  </select>
                  <label>Seeking a</label>
                  <select class="gender">
                    <option>Female</option>
                    <option>Male</option>
                  </select>
                </div>
              </div>
              <div class="search_row">
                <div class="search_column_1">
                  <label>Looking for a</label>
                </div>
                <div class="search_column_2">
                  <select class="date">
                    <option>Date</option>
                    <option>Just Friend</option>
                    <option>Short-term relationship</option>
                    <option>Long-term relationship</option>
                  </select>
                </div>
              </div>
              <div class="search_row">
                <div class="search_column_1">
                  <label>I was born</label>
                </div>
                <div class="search_column_2">
                  <select class="dob">
                    <option>Month</option>
                  </select>
                  <select class="dob">
                    <option>Date</option>
                  </select>
                  <select class="dob">
                    <option>Year</option>
                  </select>
                </div>
              </div>
              <div class="search_row">
                <div class="search_column_1">
                  <label>By Profile ID</label>
                </div>
                <div class="search_column_2">
                  <input type="text" name="" value="" />
                  <label class="check">With Photo</label>
                  <input type="checkbox" name="" value="" class="checkbox"/>
                </div>
              </div>
              <div class="search_row last">
                <div class="search_column_1">&nbsp;</div>
                <div class="search_column_2">
                  <input type="image" src='{%static "images/search_btn.gif"%}' class="search_btn"/>
                </div>
              </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="links">
          <div class="free_registration">
            <h3><a class="current" href="#"><img src='{%static "images/1.png"%}' alt="" / style="width: 50px;height: 50px;">100% FREE REGISTRATION</a></h3>
          </div>
          <div class="free_profile">
            <h3><a href="#"><img src='{%static "images/2.png"%}' alt="" / style="width: 30px;height: 30px;">LOG IN</a></h3>
          </div>
          <div class="life_partner">
            <h3><a href="#"><img src='{%static "images/3.png"%}' alt="" / style="width: 30px;height: 30px;">SEARCH LIFE PARTNER</a></h3>
          </div>
        </div>
        <div id="menu">
          <ul>
            <li class="first"><a class="current" href="#">Home</a></li>
            <li><a href="about_us.html">About us</a></li>
            <li><a href="privacy.html">Privacy</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="support.html">Support</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
{% block content %}

      <div id="body_container">
        <div class="detail_container">
          <div class="detail_box">
            <div class="top_curve">
              <div class="detail_content">
                <div class="box_1">
                  <h2>Don’t Stay Alone</h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis cursus tortor. Nunc consectetuer diam ac odio. Pellentesque vel mauris sit amet urna malesuada ornare. Curabitur venenatis est eget arcu. Donec vestibulum. Proin rutrum. Morbi commodo fringilla orci.</p>
                  <p> Vivamus hendrerit aliquam quam. Curabitur placerat eros vitae libero. Fusce sagittis commodo purus. Cras orci. Quisque at justo. Quisque ullamcorper feugiat ligula. </p>
                </div>
                <div class="box_2"><img src='{%static "images/pic_1.gif"%}' alt="" /></div>
                <div class="box_3">
                  <h2>Top 5 Dating Tips</h2>
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Vivamus.</li>
                    <li>Nunc viverra. Aliquam suscipit egestas turpis. Aenean mollis est.</li>
                    <li>Fusce tristique, nisl vel gravida venenatis, risus magna eleifend pede.</li>
                    <li>Vestibulum ut eros sed ipsum faucibus vestibulum.</li>
                    <li>Quisque ullamcorper feugiat ligula. Quisque vulputate.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile_container">
          <div class="profile_box">
            <div class="profile_top_curve">
              <div class="profile_detail_content">
                <div class="heading">
                  <h3>Last added profiles</h3>
                  <h4><a href="#">next </a> | <a href="#">prev</a></h4>
                </div>
                <div class="detail_box">
                  <div class="column"><span class="photo"><a href="#"><img src='{%static "images/pic_2.gif"%}' alt="" /></a></span>
                    <div class="self_detail">
                      <p>Name: <span>Minisha</span><br />
                        Age: <span>22 yrs.</span><br />
                        Sex: <span>Female</span><br />
                        Location: <span>Argentina</span><br />
                        Height: <span>5’8”</span><br />
                        Bust: <span>36</span><br />
                        Waist: <span>26</span><br />
                        Hair: <span>Black</span> </p>
                    </div>
                    <a href="#"><img src='{%static "images/more_btn.gif"%}' alt="" class="more" /></a> </div>
                  <div class="column"> <span class="photo"><a href="#"><img src='{%static "images/pic_3.gif"%}' alt="" /></a></span>
                    <div class="self_detail">
                      <p>Name: <span>Richa Stone</span><br />
                        Age: <span>25 yrs.</span><br />
                        Sex: <span>Female</span><br />
                        Location: <span>USA</span><br />
                        Height: <span>5’6”</span><br />
                        Bust: <span>34</span><br />
                        Waist: <span>24</span><br />
                        Hair: <span>Black</span> </p>
                    </div>
                    <a href="#"><img src='{%static "images/more_btn.gif"%}' alt="" class="more" /></a> </div>
                  <div class="column"> <span class="photo"><a href="#"><img src='{%static "images/pic_4.gif"%}' alt="" /></a></span>
                    <div class="self_detail">
                      <p>Name: <span>Richa Stone</span><br />
                        Age: <span>25 yrs.</span><br />
                        Sex: <span>Female</span><br />
                        Location: <span>USA</span><br />
                        Height: <span>5’6”</span><br />
                        Bust: <span>34</span><br />
                        Waist: <span>24</span><br />
                        Hair: <span>Golden</span> </p>
                    </div>
                    <a href="#"><img src='{%static "images/more_btn.gif"%}' alt="" class="more" /></a> </div>
                  <div class="column last"> <span class="photo"><a href="#"><img src='{%static "images/pic_5.gif"%}' alt="" /></a></span>
                    <div class="self_detail">
                      <p>Name: <span>Wang Lee</span><br />
                        Age: <span>25 yrs.</span><br />
                        Sex: <span>Female</span><br />
                        Location: <span>Korea</span><br />
                        Height: <span>5’6”</span><br />
                        Bust: <span>30</span><br />
                        Waist: <span>24</span><br />
                        Hair: <span>Golden</span> </p>
                    </div>
                    <a href="#"><img src='{%static "images/more_btn.gif"%}' alt="" class="more" /></a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="footer_link">
          <ul style="color:#FFF;">
            Copyright (c) Sitename.com. All rights reserved. Design by Stylish <a href="http://www.stylishtemplate.com" style="color:#FFF; text-decoration:underline;">Website Templates</a>.
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</body>
</html>
