{% extends "base.html" %}

{% block title%}{% endblock %}

{% block content %}
{% load static %} 
    <h1>Hello {{ user.first_name }}</h1>
    <img src="{{ uploaded_file_url }}" alt="">
        <h2>{{ uploaded_file_url }}</h2>
        <p>Gender: {{ user.gender }} </p>
        <p>City: {{ user.city }}</p>
        <p>DOB: {{ user.birthday }}</p>
        <p>Summary: {{ profile_info.summary}}</p>
        <div>

        </div>
        <p>Interests: {{ profile_info.interests}}</p>
        <div>

        </div>
        <p>Goals:{{ profile_info.goals }}</p>
        <div>

        </div>

        <button><a href="/edit/profile/"> Edit your Profile </a></button>
    
{% endblock %}