{% extends "base.html" %}

{% block title%}{% endblock %}

{% block content %}
{% load static %}
    <h1>User Profile</h1>
    <img src="{%static 'images/pic_4.gif'%}" alt="User Image">
    <p>Name</p>
    <p>Age</p>
    <p>Hobby</p>
    <p>Summary</p>
    <p>Gender</p>

    <h2>User's Likes</h2>
    <table>
        <thead>
            <th>Details</th>      
        </thead>
        <tbody>
            <tr>
                <td>Username
                    <a href="/profile/username"><img src="{%static 'images/pic_3.gif'%}" alt="Liked person"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Lets date</h2>
    <table>
        <thead>
            <th>Details</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td>Username
                        <a href="/profile/username"><img src="{%static 'images/pic_2.gif'%}" alt="To date person"></a>
                </td>
                <td><a href="/message/userid">Message </a></td>
                <td><a href="/game/userid">Game</a></td>
            </tr>
        </tbody>

    </table>
{% endblock %}