<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>User Profile</h1>
    <img src="" alt="User Image">
    <p>Name</p>
    <p>Age</p>
    <p>Hobby</p>
    <p>Summary</p>
    <p>Gender</p>

    <h2>User's Likes</h2>
    <table>
        <thead>
            <th>Details</th>      
        </thead>
        <tbody>
            <tr>
                <td>Username
                    <a href="/profile/username"><img src="" alt="Liked person"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Lets date</h2>
    <table>
        <thead>
            <th>Details</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td>Username
                        <a href="/profile/username"><img src="" alt="To date person"></a>
                </td>
                <td><a href="/message/userid">Message </a></td>
                <td><a href="/game/userid">Game</a></td>
            </tr>
        </tbody>

    </table>
</body>
</html>